name: Node.js CI
on: [push, pull_request]

jobs:
  # it's enough to lint once, it shouldn't be OS or node version specific
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Files
        uses: actions/checkout@v2

      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Lint Source Files
        run: npm i && npm run lint

      - name: Format Source Files
        run: npx prettier --check .

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    needs: lint

    strategy:
      matrix:
        node-version: [10, 12, 14, 16]
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false

    steps:
      - name: Checkout Source Files
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Test Source Files
        run: npm it
